*.iml
.gradle/
local.properties
captures/
.idea/
build/
*/build/
apk/
config/terminal-config.local.json
config/oss-config.local.properties
.DS_Store
.venv/
.source/
source/
config/signing/
config/signing.local.properties
